<h1>Lista de productos:</h1>
<ul>
  {{#each products}}
    <li>
      <h3>{{this.title}}</h3>
      <p>ID: {{this.id}}</p>
      <p>Descripcion: {{this.description}}</p>
      <p>Precio: {{this.price}}</p>
      <p>Categoria: {{this.category}}</p>
      <p>Stock: {{this.stock}}</p>
    </li>
  {{else}}
    <p>no hay productos disponmibles en este momento.</p>
  {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js"></script>